:root {
  --color-background: var(--neutral-900);
  --color-surface:    var(--neutral-800);
  --color-border:     var(--neutral-700);
}

[data-theme='light'] {
  --color-background:    var(--neutral-100);
  --color-surface:       var(--neutral-200);
  --color-border:        var(--neutral-300);
  --color-text-default:  var(--neutral-900);
  --color-text-muted:    var(--neutral-600);
  --color-text-disabled: var(--neutral-400);
}
